body {
    background-color: black;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    background-color: rgb(73, 69, 69);
    color: white;
}

td.complete {
    color: gray;
    text-decoration: line-through;
}

td.initialBox {
    background-color: rgba(73, 69, 69, 0.788);
}

td.incorrectBox {
    color: red;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

td.filled {
    background-color: darkcyan;
}

td.notFilled {
    background-color: darkkhaki;
}

td.leftBorder {
    border-left-color: rgb(95, 95, 95);
}

td.rightBorder {
    border-right-color: rgb(95, 95, 95);
}

td.topBorder {
    border-top-color: rgb(95, 95, 95);
}

td.bottomBorder {
    border-bottom-color: rgb(95, 95, 95);
}

td.rowHeader {
    background-color: rgb(73, 69, 69);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border-right-color: white;
    border-left: none;
}

td.colHeader {
    background-color: rgb(73, 69, 69);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-color: white;
    border-top: none;
}

td.menuBox {
    border-style: none;
    border-width: 0px;
    background-color: rgb(73, 69, 69);
    color: white;
}

table {
    border-spacing: 0;
    border: 1px solid white;
}


.wrapper {
    text-align: center;
}

.center {
    display: inline-block;
    margin-bottom: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

input {
    text-align: center;
}

td.header {
    border-color: black;
    background-color: chartreuse;
}

.whiteFont {
    color: white;
}