td.initialBox {
    background-color: white;
}

td.correctBox {
    background-color: green;
}

td.incorrectBox {
    background-color: red;
}

td {
    border-style: solid;
    border-width: 1px;
    height: 75px;
    width: 75px;
}

table {
    border-spacing: 0;
    border: 1px solid;
}