td.initialBox {
    background-color: rgb(73, 69, 69);
}

td.incorrectBox {
    color: red;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

td.filled {
    background-color: darkcyan;
}

td.notFilled {
    background-color: darkkhaki;
}

td.rowHeader {
    background-color: rgb(73, 69, 69);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

td.colHeader {
    background-color: rgb(73, 69, 69);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
}

table {
    border-spacing: 0;
    border: 1px solid;
}